#SPDX-License-Identifier: MIT-0
---
# tasks file for delegate
- block:
    - name: adding the user
      user:
        name: user72 
        state: present
        shell: /bin/bash

    - name: create .ssh directory
      file:
        path: /home/user72/.ssh
        state: directory
        owner: user72
        group: user72
        mode: '0700'
        
    - name: generate SSH key pair
      openssh_keypair:
        path: "/home/user72/.ssh/id_rsa"
        type: rsa
        size: 2048
        owner: user72
        group: user72
        mode: '0600'
      register: user72_ssh_key

    - name: copy public key to stage 
      authorized_key:
        user: root
        key: "{{ user72_ssh_key.public_key }}"
      delegate_to: lf-app2
  become: yes