user {{ nginx_user }};
worker_processes {{ nginx_worker_processes }};

events {
    worker_connections {{ nginx_worker_connections }};
}

http {
    include      /etc/nginx/mime.types;
    default_type application/octet-stream;

    sendfile        on;
    keepalive_timeout {{ keepalive_timeout }};

    server {
        listen      80;
        server_name {{ server_name }};

        location / {
            root    {{ nginx_root }};
            index   index.html index.htm;
        }

        location /pythoner/  {

            auth_basic "Restricted Content";
            auth_basic_user_file {{ nginx_users_file }};
            
            proxy_pass http://localhost:5000/;
              
        }

        error_page  500 502 503 504     /50x.html;
        location = /50x.html {
            root    {{ nginx_root }};
        }
    }
}