#SPDX-License-Identifier: MIT-0
---
# tasks file for nginx
- block: 
    - name: install nginx package RedHat
      yum:
        name: nginx
        state: present
      when: ansible_os_family == "RedHat"
    
    - name: install nginx package on debian systems 
      apt:
        name: nginx
        state: present
      when: ansible_os_family == "Debian"

    - name: ensure nginx is enabled and running 
      service:
        name: nginx
        state: started
        enabled: true

    - name: disable default site if required
      file:
        path: /etc/nginx/sites-enabled/default
        state: absent 
      when: not nginx_default_sites_enabled
    
    - name: deploy nginx configuration file 
      template:
        src: nginx.conf.j2
        dest: "{{ nginx_conf_path }}"
        owner: root
        group: root
        mode: '0644'
        backup: yes
      notify:
        - reload nginx






    - name: Install passlib for htpasswd
      package:
         name: "{{ 'python3-passlib' if ansible_os_family == 'Debian' else 'python3-passlib' }}"
         state: present
      when: ansible_os_family == "Debian" or ansible_os_family == "RedHat"

    - name: Install pip3 
      package:
        name: "{{ 'python3-pip' if ansible_os_family == 'Debian' else 'python3-pip' if ansible_os_family == 'RedHat' else 'python3' }}"
        state: present
      when: ansible_os_family == "Debian" or ansible_os_family == "RedHat"

    - name: Ensure passlib is installed via pip
      pip:
        name: passlib
        executable: pip3
      when: ansible_os_family != "Debian" and ansible_os_family != "RedHat"

    - name: create htpasswd
      community.general.htpasswd:
        path: "{{ nginx_users_file }}"
        name: "{{ item.name }}"
        password: "{{ item.password }}"
      loop: "{{ nginx_auth_users }}" 
      notify: reload nginx

  become: yes