---
version: '3.6'
services:
  vault:
    image: hashicorp/vault:latest
    container_name: vault
    environment:
      VAULT_ADDR: "http://0.0.0.0:8200"
    ports:
      - "8200:8200"
    volumes:
      - "./file:/vault/file/:rw"
      - "./config.hcl:/vault/config/config.hcl:rw"
    command: server
    cap_add:
      - IPC_LOCK
    entrypoint: vault server -config /vault/config/config.hcl   
