#SPDX-License-Identifier: MIT-0
---
# tasks file for vault
- block: 
    - name: ensure vault directories
      file:
        path: "{{ item }}"
        state: directory
        owner: root
        group: root
        mode: "0755"
      loop:
        - "{{ vault_dir }}"

    - name: copy vault config.hcl
      template:
        src: config.hcl.j2
        dest: "{{ vault_dir }}/config.hcl"
        owner: root
        group: root
        mode: "0644"
        backup: yes

    - name: render docker-compose
      template:
        src: docker-compose.yml.j2
        dest: "{{ vault_dir }}/docker-compose.yml"
        owner: root
        group: root
        mode: "0644"
        backup: yes

    - name: start vault container with docker-compose
      community.docker.docker_compose_v2:
        project_src: "{{ vault_dir }}"
        files:
        - "{{ vault_dir }}/docker-compose.yml"
        state: present
  become: yes