services:
  consul:
    image: hashicorp/consul:latest
    container_name: {{ consul_container_name }}
    
    network_mode: host

    ports:
      - "8500:8500"
      - "8300:8300/tcp"
      - "8300:8300/udp"
      - "8301:8301/tcp"
      - "8301:8301/udp"
      - "8302:8302/tcp"
      - "8302:8302/udp"
      - "8600:8600/udp"

    volumes:
      - consul-data:/consul/data
      - consul-config:/consul/config

    environment:
      CONSUL_BIND_INTERFACE: eth0

    entrypoint: ["consul", "agent"]

    command:
      - "-server"
      - "-advertise={{ ansible_default_ipv4.address }}"
      - "-ui"
      - "-bootstrap-expect=1"

      - "-bind=0.0.0.0"
      - "-client=0.0.0.0"
      - "-datacenter={{ consul_datacenter }}"
      - "-node={{ consul_node_name }}"
      - "-data-dir=/consul/data"
      - "-config-dir=/consul/config"
      - "-encrypt={{ consul_encrypt_key }}"

volumes:
  consul-data:
    driver: local
  consul-config:
    driver: local