[Unit]
Description=Consul ZIP file server
After=network.target

[Service]
WorkingDirectory=/tmp
ExecStart=/usr/bin/python3 -m http.server 8000
Restart=always
User=root

[Install]
WantedBy=multi-user.target